@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Serif+Pro&display=swap');

*{
    font-family:'Source Serif Pro';
}

.card{
    background: linear-gradient(90deg, rgba(255,255,255,1) 19%, rgba(255,255,255,0.15449929971988796) 30%, rgba(255,255,255,0) 56%);
    -webkit-box-shadow: -1px 7px 24px -4px rgba(0,0,0,0.52);
    box-shadow: -1px 7px 24px -4px rgba(0,0,0,0.52);
    display:flex;
    justify-content: space-between;
    margin:1.2% 2%;
    // border-radius:12px;
    color:#fff;
    &:hover{
      background: linear-gradient(90deg, rgba(255,255,255,1) 19%, rgba(255, 255, 255, 0.548) 30%, rgba(255, 255, 255, 0.274) 56%);
        cursor:pointer;
        transition:10s;
    }
    img{
        width:7vh;
        margin:2vh ;
    }
    .cryptValue{
        margin-right:2%;
    }

}
.CardContainer{
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior:smooth;
    width:27vw;
    height:74vh;
    margin: 10% 1% 1% 2%;
    border-radius:12px;
    -webkit-box-shadow: -1px 7px 24px -4px rgba(0,0,0,0.52);
    box-shadow: -1px 7px 24px -4px rgba(0,0,0,0.52);


}
/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius:50%;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.616);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(235, 235, 235, 0.377);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  .price{
      color:rgba(255, 217, 0, 0.767);
  }

  #search{
      background: transparent;
      width:90%;
      border:none;
      border-bottom:rgba(255, 255, 255, 0.507) 2.5px solid;
      margin:22% 0 5% 0;
        color:white;
        font-family:'Lato';
        font-size:3vh;
  }
  input:focus{
    outline: none;
}
@keyframes turner{
  from{  transform: rotateY(0deg)   }
  to  {  transform: rotateY(360deg) }
}

.more{
  display:flex;
  overflow:hidden;
  .dataCard{
    background: linear-gradient(to right bottom,  rgba(255,255,255,0) 17%, rgba(255,255,255,0.15449929971988796) 30%, rgba(255, 255, 255, 0.747)33%);
    -webkit-box-shadow: -1px 7px 24px -4px rgba(0,0,0,0.52);
    box-shadow: -1px 7px 24px -4px rgba(0,0,0,0.52);
    width:65vw;
    height:75vh;
    margin:10% 0 0 2%;
    // border-radius:12px;
    display:flex;
  .imgWrapper{

  .ImgContainer{
    // -webkit-box-shadow: -1px 7px 24px -4px rgba(0,0,0,0.52);
    // box-shadow: -1px 7px 24px -4px rgba(0,0,0,0.52);
    border-radius:50%;
    padding:20.5% 0;
    width:13vw;
    margin:13% 0 0 13%;


    .turningImg{
      width:50%;
      animation: turner 14s infinite linear
    }
  }
}
  .headline{
    color:white;
    font-size:1.2em;
    display:inline-block;
    text-align:left;
    margin:0 0 0 7%;
  }
  .Description{
    background-color:rgba(255, 255, 255, 0.63);
    color:black;
    height:17.5vh;
    width:95%;
    // border-radius:12px;
    overflow-y:scroll;
    scroll-behavior: smooth;
    background:rgba(255, 255, 255, 0.678);
    -webkit-box-shadow: -1px 7px 24px -4px rgba(0,0,0,0.52);
    box-shadow: -1px 7px 24px -4px rgba(0,0,0,0.52);
    p{
    line-height:3vh;
     text-align: left;
     padding:0 1% 0 1%;
    }

  }
}
}

